@charset "UTF-8";

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* 세 개의 열을 동일한 너비로 설정 */
    align-items: center;
    justify-items: center;
    height : 70px;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: solid 1px gray;
}

.logo {
    grid-column: 2; /* 로고를 중앙 열에 배치 */
    font-size : 30px
}

.logo:hover{
	cursor: pointer;
}

nav {
    grid-column: 3; /* 네비게이션을 오른쪽 열에 배치 */
}

nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px; /* 각 링크 사이의 간격을 설정 */
}
