/* 차량 목록 */
body{
	display: flex;
	flex-direction: column;
	align-content: center;
}

#car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-md-6.col-lg-4 {
    width: calc(28% - 1rem);
    margin: 10px;
}

.listing {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 20px;
}

.listing-img {
    height: 200px;
    overflow: hidden;
}

.listing-img img {
    width: 100%;
    height: auto;
}

.listing-contents {
    padding: 1rem;
}

.listing-contents h3 {
    font-size: 1.2rem;
    margin-top: 0;
}

.rent-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.listing-feature {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.listing-feature span.caption {
    font-weight: bold;
}

.listing-feature span.number {
    font-weight: normal;
}

