<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>rentalcar-server</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- servlet file mapping -->

	<servlet>
		<servlet-name>joinFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.JoinFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>joinFormAction</servlet-name>
		<url-pattern>/joinFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.LoginFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginFormAction</servlet-name>
		<url-pattern>/loginFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>findUserAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.FindUserAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>findUserAction</servlet-name>
		<url-pattern>/findUserAction</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>updateFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.UpdateFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateFormAction</servlet-name>
		<url-pattern>/updateFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>logoutAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.LogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutAction</servlet-name>
		<url-pattern>/logoutAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteFormAction</servlet-name>
		<servlet-class>rentalcarServer.user.controller.DeleteFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteFormAction</servlet-name>
		<url-pattern>/deleteFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.BoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardAction</servlet-name>
		<url-pattern>/boardAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>detail</servlet-name>
		<servlet-class>rentalcarServer.board.controller.Detail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>detail</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deleteBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.DeleteBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteBoardAction</servlet-name>
		<url-pattern>/deleteBoardAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>writeBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.WriteBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeBoardAction</servlet-name>
		<url-pattern>/writeBoardAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moveUpdateFormAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.MoveUpdateFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moveUpdateFormAction</servlet-name>
		<url-pattern>/moveUpdateFormAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBoardAction</servlet-name>
		<servlet-class>rentalcarServer.board.controller.UpdateBoardAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBoardAction</servlet-name>
		<url-pattern>/updateBoardAction</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchCarsAction</servlet-name>
		<servlet-class>rentalcarServer.cars.controller.SearchCarsAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchCarsAction</servlet-name>
		<url-pattern>/searchCarsAction</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>moveCarsDetail</servlet-name>
		<servlet-class>rentalcarServer.cars.controller.MoveCarsDetail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moveCarsDetail</servlet-name>
		<url-pattern>/moveCarsDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkReservation</servlet-name>
		<servlet-class>rentalcarServer.reservations.controller.CheckReservation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkReservation</servlet-name>
		<url-pattern>/checkReservation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>moveReservationFormAction</servlet-name>
		<servlet-class>rentalcarServer.reservations.controller.MoveReservationFormAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>moveReservationFormAction</servlet-name>
		<url-pattern>/moveReservationFormAction</url-pattern>
	</servlet-mapping>




	<!-- jsp file mapping -->
	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/user/joinForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/user/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateForm</servlet-name>
		<jsp-file>/views/user/updateForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>updateForm</servlet-name>
		<url-pattern>/updateForm</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/views/module/header.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/views/module/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchDate</servlet-name>
		<jsp-file>/views/module/searchDate.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchDate</servlet-name>
		<url-pattern>/searchDate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mypage</servlet-name>
		<jsp-file>/views/user/mypage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>deleteForm</servlet-name>
		<jsp-file>/views/user/deleteForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteForm</servlet-name>
		<url-pattern>/deleteForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>board</servlet-name>
		<jsp-file>/views/board/board.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showBoard</servlet-name>
		<jsp-file>/views/board/showBoard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>showBoard</servlet-name>
		<url-pattern>/showBoard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>writeBoard</servlet-name>
		<jsp-file>/views/board/writeBoard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>writeBoard</servlet-name>
		<url-pattern>/writeBoard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateBoard</servlet-name>
		<jsp-file>/views/board/updateBoard.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateBoard</servlet-name>
		<url-pattern>/updateBoard</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>searchResultCars</servlet-name>
		<jsp-file>/views/cars/searchResultCars.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchResultCars</servlet-name>
		<url-pattern>/searchResultCars</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>carsDetail</servlet-name>
		<jsp-file>/views/cars/carsDetail.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>carsDetail</servlet-name>
		<url-pattern>/carsDetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>reservationForm</servlet-name>
		<jsp-file>/views/reservations/reservationForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>reservationForm</servlet-name>
		<url-pattern>/reservationForm</url-pattern>
	</servlet-mapping>







</web-app>